.panel1{
    margin: 30vh auto;
    text-align: justify;
    padding: 30px;
    color: white;
}
.phrase h1,
.panel2 h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
}
.phrase p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
}
.containerP2{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    padding: 0 3vw;
}
.containerP2 div:nth-child(even){
    grid-column: 2;
}
.containerP2 div:nth-child(odd){
    grid-column: 1;
}
.minContent{
    width: 45vw;
    object-fit: cover;
    background: #fff;
    text-align: center;
    padding: 3vh auto;
    margin-bottom: 2vh;
}
.minContent img{
    width: 43vw;
    height: auto;
    margin-top: 2vh;
}
.minContent h1{
    margin-bottom: 2vh;
    color: #011f5b;
}
.minContent p{
    margin: 1vh auto;
}
.minContent button{
    padding: 3vh 4vw;
    border-radius: 30px;
    border: 1px solid #011f5b;
    background: #fff;
    color: #011f5b;
    font-size: 1.1rem;
    margin-bottom: 2vh;
}
.minContent a{
    color: #011f5b;
    text-decoration: none;
}
.minContent button:hover{
    background: #990000;
}
@media screen and(max-width:600px) {
    .containerP2{
        grid-column: 1;
        grid-row: 6;
        flex-wrap: wrap;
    }
    .minContent{
        width: 90vw;
    }
    .minContent img{
        width: 86vw;
    }
    .containerP2 div:nth-child(1){
        grid-column: 1;
        grid-row: 1;
    }
    .containerP2 div:nth-child(2){
        grid-column: 1;
        grid-row: 2;
    }
    .containerP2 div:nth-child(3){
        grid-row: 3;
    }
    .containerP2 div:nth-child(4){
        grid-row: 4;
    }
    .containerP2 div:nth-child(5){
        grid-row: 5;
    }
    .containerP2 div:nth-child(6){
        grid-row: 6;
    }
}